<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">📚 BookReview</div>

    <div class="nav-actions">
        <a routerLink="/book-list">Browse Books</a>
        <a routerLink="/login" *ngIf="!isLoggedIn">Login</a>
        <a routerLink="/add-book" *ngIf="isLoggedIn">Add Books!</a>
        <button *ngIf="isLoggedIn" (click)="logout()">logout</button>
    </div>

</nav>

<!-- HERO -->
 <section class="hero">
    <div class="hero-text">
        <h1>The Most Comprehensive Book Review Platform</h1>
        <p>Discover, review, and manage books you love</p>

        <div class="call-to-action">
            <a routerLink="/book-list" class="btn primary">Explore Books</a>
            <a routerLink="/login" class="btn secondary" *ngIf="!isLoggedIn">Get Started</a>
        </div>
    </div>

    <div class="hero-image">
        <img src="/images/different_winter_book_cover.avif" alt="Main Book" />
    </div>
 </section>

<!-- FEATURED BOOKS -->
<section class="featured">
    <h2>Featured Books</h2>
    <p>Hand-picked selections for readers</p>

    <div class="book-grid">
        <div class="book-card" *ngFor="let book of featuredBooks">
            <img [src]="book.cover" alt="Book Display" />
            <h4>{{ book.title }}</h4>
            <p>{{ book.author }}</p>
            <p>{{ book.genre }}</p>
        </div>
    </div>
</section>

<!-- FOOTER -->